<!--<div class="container" style="margin: 100px;">
  <form [formGroup]="employeeForm" (ngSubmit)="OnSubmit()">

    <h2>Employee Form</h2>
    <div class="form-group">
      <label for="exampleInputEmail1">Date</label>
      <input type="datetime-local" class="form-control" formControlName="date" id="date" placeholder="Enter Date Time">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Open</label>
      <input type="number" class="form-control" id="open" formControlName="open" placeholder="Enter Open">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">High</label>
      <input type="number" class="form-control" id="high" formControlName="high" placeholder="Enter High">

    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Low</label>
      <input type="number" class="form-control" id="low" formControlName="low" placeholder="Enter Low">

    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Close</label>
      <input type="number" class="form-control" id="close" formControlName="close" placeholder="Enter Close">

    </div>
    <button type="submit" class="btn btn-primary">{{btnSave}}</button>
  </form>
</div>-->
<!-- Button trigger modal -->
<!--<div>
  <psan>Table Details</psan>
  <button (click)="open('dialog')" type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter" style="margin-bottom:5px; margin-top:10px;">
    <i class="fa fa-plus" aria-hidden="true"></i> Add Details
  </button>
</div>-->


    <div class="col-sm-12 inner-div">
      <h2>
        <span style="color:#003c71; margin-left:76px;">  Table Details</span>
        <span class="pull-right">
          <button (click)="open('dialog')" type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter" style="margin-right:168px;">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Details
          </button>
        </span>
      </h2>
      <hr style="border-top-width: 2px; border-top-color: gray; margin-left: 80px; margin-right: 160px;">
    </div>

  <!-- Modal -->
  <div class="ml-2">
    <div class="col-md-10 inner-div">
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLongTitle">{{HeaderValue}} Details</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="employeeForm" (ngSubmit)="OnSubmit()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Date</label>
                  <input type="datetime-local" class="form-control" formControlName="date" id="date" placeholder="Enter Date Time">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Open</label>
                  <input type="number" class="form-control" id="open" formControlName="open" placeholder="Enter Open">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">High</label>
                  <input type="number" class="form-control" id="high" formControlName="high" placeholder="Enter High">

                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Low</label>
                  <input type="number" class="form-control" id="low" formControlName="low" placeholder="Enter Low">

                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Close</label>
                  <input type="number" class="form-control" id="close" formControlName="close" placeholder="Enter Close">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" (click)="OnSubmit()" data-dismiss="modal">{{btnSave}} changes</button>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered" style="width:100%; margin-left:80px;">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employeeList | slice: (page-1) * pageSize : page * pageSize">
            <td>{{emp.date}}</td>
            <td>{{emp.open}}</td>
            <td>{{emp.high}}</td>
            <td>{{emp.low}}</td>
            <td>{{emp.close}}</td>
            <td>
              <button class="btn btn-success" (click)="open(emp.id)" data-toggle="modal" data-target="#exampleModalCenter">Edit</button>
              <button class="btn btn-danger" (click)="delete(emp.id)" style="margin-left: 10px;">Delete</button>
            </td>

          </tr>

        </tbody>

      </table>
      <ngb-pagination [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="employeeList.length"></ngb-pagination>
    </div>
  </div>

